In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
file = "Resources/all.csv"
data = pd.read_csv(file)
df = pd.DataFrame(data)
df

,Unnamed: 0,State,District,Persons,Males,Females,Growth..1991...2001.,Rural,Urban,Scheduled.Caste.population,...,Medical.facility,Primary.Health.Centre,Primary.Health.Sub.Centre,Post..telegraph.and.telephone.facility,Bus.services,Paved.approach.road,Mud.approach.road,Permanent.House,Semi.permanent.House,Temporary.House
0,1,AN,"District Andamans (01), Andaman & Nicobar Isla...",314084,170319,143765,30.14,197886,116198,-,...,102,16,78,161.0,187,201,243,28.7,39.1,32.0
1,2,AN,"District Nicobars (02), Andaman & Nicobar Isla...",42068,22653,19415,7.19,42068,-,-,...,38,4,31,36.0,49,51,111,28.0,33.3,38.7
2,3,Andhra,"District Adilabad (01), Andhra Pradesh (28)",2488003,1250958,1237045,19.06,1827986,NaN,NaN,...,976,61,432,558.0,814,979,544,53.0,39.9,7.0
3,4,Andhra,"District Nizamabad (02), Andhra Pradesh (28)",2345685,1162905,1182780,14.98,1920947,NaN,NaN,...,614,50,330,602.0,746,760,82,52.8,37.6,9.6
4,5,Andhra,"District Karimnagar (03), Andhra Pradesh (28)",3491822,1747968,1743854,14.47,2813010,NaN,NaN,...,863,70,475,795.0,912,823,218,55.8,36.4,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,586,WB,"District Puruliya (14), West Bengal (19)",2536516,1298078,1238438,13.96,2281090,NaN,NaN,...,1173,66,157,563.0,651,778,2361,26.3,44.8,28.9
586,587,WB,District Medinipur,9610788,4916370,4694418,15.68,8626883,NaN,NaN,...,3560,175,878,2128.0,1807,4166,10016,20.1,40.5,39.4
587,588,WB,District Haora,4273099,2241898,2031201,14.6,2121109,NaN,NaN,...,410,46,150,363.0,331,623,705,68.2,27.9,3.9
588,589,WB,"District Kolkata (17), West Bengal (19)",4572876,2500040,2072836,4.11,-,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.3,7.5,1.1
589,590,WB,"Twenty Four Parganas (18), West Bengal (19)",6906689,3564993,3341696,20.89,5820469,NaN,NaN,...,1311,82,479,931.0,760,1634,1975,37.2,33.2,29.6

## Brandon
Is there a correlation between age/literacy, and the number of amenities that are present in each district?

In [14]:
# Create and clean a new DF
columns = ["State", "District", "Persons", "Persons..literate", "Persons..literacy.rate", "Drinking.water.facilities", "Safe.Drinking.water","Post..telegraph.and.telephone.facility", "Primary.Health.Centre", "Bus.services"]
ageLit_df = df[columns]

# Replace any "-" with NaN, and then get rid of any NaNs.
ageLit_df = ageLit_df.replace("-", np.nan)
ageLit_df = ageLit_df.dropna(how="any")

# Rename the columns so they are nice and uniform
ageLit_df = ageLit_df.rename(columns = {"Persons":"Population", "Persons..literate":"Total Literate", "Persons..literacy.rate":"Total Literacy Rate", "Drinking.water.facilities":"Total Drinking Water Facilities", "Safe.Drinking.water":"Safe Drinking Water Facilities","Post..telegraph.and.telephone.facility":"Post/Telegraph/Telephone Facilities", "Primary.Health.Centre":"Primary Health Centers", "Bus.services":"Bus Services"})

# Reformat percentages to be real numbers
ageLit_df["Total Literacy Rate"] = ageLit_df["Total Literacy Rate"]/100

In [16]:
# Convert to numeric values so they can be worked with
ageLit_df["Primary Health Centers"] = pd.to_numeric(ageLit_df["Primary Health Centers"])
ageLit_df["Bus Services"] = pd.to_numeric(ageLit_df["Bus Services"])

# Add a few columns for analysis
ageLit_df["Percent Clean Water Facilities"] = (ageLit_df["Safe Drinking Water Facilities"]/ageLit_df["Total Drinking Water Facilities"])
ageLit_df["People per Communication Facility"] = round(ageLit_df["Population"]/ageLit_df["Post/Telegraph/Telephone Facilities"],2)
ageLit_df["People per Drinking Facility"] = round(ageLit_df["Population"]/ageLit_df["Total Drinking Water Facilities"],2)
ageLit_df["People per Bus Service"] = round(ageLit_df["Population"]/ageLit_df["Bus Services"],2)
ageLit_df["People per Primary Health Center"] = round(ageLit_df["Population"]/ageLit_df["Primary Health Centers"],2)
ageLit_df.head()

,State,District,Population,Total Literate,Total Literacy Rate,Total Drinking Water Facilities,Safe Drinking Water Facilities,Post/Telegraph/Telephone Facilities,Primary Health Centers,Bus Services,Percent Clean Water Facilities,People per Communication Facility,People per Drinking Facility,People per Bus Service,People per Primary Health Center
0,AN,"District Andamans (01), Andaman & Nicobar Isla...",314084,226600,0.8249,331.0,293.0,161.0,16,187,0.885196,1950.83,948.89,1679.59,19630.25
1,AN,"District Nicobars (02), Andaman & Nicobar Isla...",42068,26535,0.7235,169.0,163.0,36.0,4,49,0.964497,1168.56,248.92,858.53,10517.00
2,Andhra,"District Adilabad (01), Andhra Pradesh (28)",2488003,1112189,0.5268,1585.0,1580.0,558.0,61,814,0.996845,4458.79,1569.72,3056.51,40786.93
3,Andhra,"District Nizamabad (02), Andhra Pradesh (28)",2345685,1044788,0.5202,854.0,854.0,602.0,50,746,1.000000,3896.49,2746.70,3144.35,46913.70
4,Andhra,"District Karimnagar (03), Andhra Pradesh (28)",3491822,1661089,0.5490,1047.0,1046.0,795.0,70,912,0.999045,4392.23,3335.07,3828.75,49883.17

State                                   object
District                                object
Population                               int64
Total Literate                           int64
Total Literacy Rate                    float64
Total Drinking Water Facilities        float64
Safe Drinking Water Facilities         float64
Domestic Electricity                    object
Post/Telegraph/Telephone Facilities    float64
Primary Health Centers                  object
Bus Services                            object
Percent Clean Water Facilities         float64
People per Communication Facility      float64
Drinking Facility                      float64
dtype: object

## Jake

## Laura

## Matt

## Kevin